# Dependencies
node_modules/

# Python
__pycache__/
venv/
.venv
*.pyc

# OS files
.DS_Store

# Logs
npm-debug.log*

node_modules/
.eslintrc.js
babel.config.js
package-lock.json
package.json
nodesource_setup.sh

# NoSQL & Databases
dump/
*.dump
*.sql

# Python (si tu as des projets NoSQL ou back-end qui en utilisent)
__pycache__/
venv/
.venv/

# Dossiers de dépendances (essentiel)
node_modules/